body {
  font-family: 'Roboto Mono', monospace;
  font-size: 24px;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}


.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  
}
.card {
  border-color: black;
  border-style: dashed;
}

/* Style Inputs */
input {
  border-color: white;
  
}

input, textarea{
  color: black;
  border-color: white;
}

.row-btn {
  border-radius: 4px;
  padding-top: 10px;
}

/* Styles for dynamically color coding rows based on time */
.past {
  background-color: lightgrey;
  color: black;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

/************** MEDIA QUERIES ***************/

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
  
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
  body {
    background-color: #8ac4ff;
  }
}
